@page
@model AgenciaTurismo.Pages.Notes.ViewNotesModel

<form method="post">
    <textarea asp-for="Conteudo"></textarea>
    <button type="submit">Salvar</button>
</form>

<h3>Arquivos:</h3>
<ul>
    @foreach (var file in Model.Arquivos)
    {
        <li>
            <a asp-page-handler="Read" asp-route-nome="@file">@file</a>
        </li>
    }
</ul>

@if (Model.ConteudoSelecionado != null)
{
    <p>@Model.ConteudoSelecionado</p>
}